_build/*
*.pyc

# generated index files
*/*/*/*/index.rst
*/*/index.rst
index_*.rst

# generated include files
*.inc

# ignore tmporary files
*~
.*.sw?
\#*\#
.\#*
*.un~

# Mac OS pukes out these files all over the place
.DS_Store

